In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

In [3]:
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [4]:
# get the unique values of the dataframe
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [5]:
# get the non unique values of the dataframe
df['col1'].nunique()

4

In [6]:
# get the number of occurrences per data
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

In [7]:
# Col 1 > 2
# Col 2 = 444

new_df = df[(df['col2']==444) & (df['col1'] > 2)]

In [8]:
new_df

   col1  col2 col3
3     4   444  xyz

In [10]:
def times_two(number):
    return number*2

In [11]:
# add a new column as result of applying a function
df['new'] = df['col1'].apply(times_two)

In [12]:
df

   col1  col2 col3  new
0     1   444  abc    2
1     2   555  def    4
2     3   666  ghi    6
3     4   444  xyz    8

In [13]:
# drop a column
del df['new']

In [14]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')